name: R8S

on:
  push:
    branches: [ main ]
    paths:
      - 'arch/arm64/configs/exynos9830_defconfig'
  pull_request:
    branches: [ main ]
    paths:
      - 'arch/arm64/configs/exynos9830_defconfig'
  workflow_dispatch:
    inputs:
      force_build:
        description: 'Force build even if exynos9830_defconfig is not modified (manual trigger)'
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up environment
        run: |
          sudo apt-get update
          sudo apt-get install -y libarchive-tools ccache
          sudo apt update -y && sudo apt upgrade -y && sudo apt install nano bc bison ca-certificates curl flex gcc git libc6-dev libssl-dev openssl python-is-python3 ssh wget zip zstd sudo make clang gcc-arm-linux-gnueabi software-properties-common build-essential libarchive-tools gcc-aarch64-linux-gnu -y && sudo apt install build-essential -y && sudo apt install libssl-dev libffi-dev libncurses5-dev zlib1g zlib1g-dev libreadline-dev libbz2-dev libsqlite3-dev make gcc -y && sudo apt install pigz -y && sudo apt install python2 -y && sudo apt install python3 -y && sudo apt install cpio -y && sudo apt install lld -y && sudo apt install llvm -y && sudo apt-get install g++-aarch64-linux-gnu -y && sudo apt install libelf-dev -y && sudo apt install neofetch -y && neofetch

      - name: Build Kernel
        run: |
          chmod +x ./build_kernel.sh
          ./build_kernel.sh

      - name: Find built zips
        id: find_zips
        run: |
          ZIP_FILES=$(find . -type f -name "*.zip")
          if [[ -z "$ZIP_FILES" ]]; then
            echo "No ZIPs found! Exiting."
            exit 1
          fi
          echo "ZIP_FILES<<EOF" >> $GITHUB_ENV
          echo "$ZIP_FILES" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Upload built kernels
        uses: actions/upload-artifact@v4
        with:
          name: built-kernels
          path: ${{ env.ZIP_FILES }}
